.container{
  width: 250px;
  margin-top: 20px;
  border-width: 2px, 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(190, 189, 189);

  
}

.info{
  display: flex;
  flex-direction: column;
 
}